name: Auto Visit Website Every 5 Minutes

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  visit-website:
    runs-on: ubuntu-latest
    steps:
      - name: Curl Visit Website
        run: curl -L https://unpleasant-cecelia-lwsnb6666-7b504a4b.koyeb.app/sub